@media screen and (max-width:1070px){

    .slider{
        height: 30vh;
    }
    nav{
        flex-direction: column;
    }
    .logo{
        justify-content: center;
        margin: 12px 0;
    }
    nav ul{
        justify-content: center;
        height: 30px;
    }
    .search{
        justify-content: center;
    }
    .search input{
        margin: 12px 16px;
    }
    .card-item img{
        width: 80px;
    }
}    

