@import url('https://founts.googleapis.com/css2/family=Lato:wght@300&display=swap');
@import url('https://founts.googleapis.com/css2/family=Ubuntu:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
}

header {
    background: rgb(254, 198, 88);
    /* border: 2px solid red; */
    font-family: 'lato', sans-serif;
    width: 100%;
}

nav {
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 140px;
    padding: 0 25pxs;
}

nav ul {
    height: 58px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav ul li {
    list-style: none;
    align-items: center;
    padding: 0 23px;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

nav ul li a:hover {
    color: white;
    text-decoration: underline;
    /* font-weight: bold; */
}

.search {
    display: flex;
    align-items: center;
}

.search input {
    width: 250px;
    height: 27px;
    border-radius: 6px;
    margin: 0 16px 0 56px;
    padding: 0 12px;
}

.search button {
    font-family: 'lato', sans-serif;
    font-weight: 700;
}

.search button:hover {
    color: rgb(219, 146, 1);
    background: white;
}

.login {
    display: flex;
    align-items: center;
}

.login button {
    font-family: 'lato', sans-serif;
    font-weight: 700;
    margin: 0 70px;
}

.login button:hover {
    color: rgb(219, 146, 1);
    background: white;
}

.slider {
    width: 80vw;
    margin: 12px auto;
    overflow: hidden;
    box-shadow: 0 .3rem .5rem rgba(0, 0, 0, .3);
}

.slider img {
    width: 80vw;
    height: 400px;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: snow;
    padding-bottom: 20px;
}

.card {
    max-width: 93vw;
    margin: 37px auto;
    font-family: 'Ubuntu', sans-serif;
    box-shadow: 0 .3rem .5rem rgba(0, 0, 0, .3);
}

.card-item {
    width: 40vh;
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 10px;
    background: bisque;
    align-items: center;
    padding: 13px;
}

.card-item:hover {
    box-shadow: 0 .3rem .5rem rgba(0, 0, 0, .3);
}

.card-item img {
    height: 130px;
}

/* .card h2{
    font-family: 'lato',sans-serif;

} */
.container {
    min-height: calc(100vh - 58px - 12vh);
}

footer {
    height: 12vh;
    background: rgb(254, 198, 88);
    color: black;
    font-family: 'Lato', sans-serif;
}

.slider img:hover {
    box-shadow: 0 .3rem .5rem rgba(0, 0, 0, .3);

}