.flex-all-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: 5px 10px;
    color: black;
    background: rgb(254, 198, 88);
    border: 2px solid white;
    border-radius: 7px;
    cursor: pointer;
}

.my-1 {
    margin: 3px 0;

}

.my-2 {
    margin: 26px;
    padding-top: 12px;
    margin-bottom: 12px;
}

.text-center {
    text-align: center;
}

.lines:hover {
    font-weight: bold;

}